<!DOCTYPE html>
<html class="js objectfit object-fit ng-scope is--desktop" ng-app="utl" lang="en">
<head><style type="text/css">
/* Code tidied up by ScrapBook */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) { display: none !important; }
ng\:form { display: block; }
</style>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<title>FreeHookupAffair.com - Adult Personals and Casual Sex for Free!</title>
	<meta name="description" content="Find your local sex buddy tonight using the internet's largest site for sex personals and casual sex, Free Hookup Affair!">
	<meta name="keywords" content="adult dating, sex dating, sex hookup, hookup, sex personals, sex match, free adult dating, free hookup, local sex, sex buddy, friend finder">
	
	<link rel="stylesheet" type="text/css" href="style.min.css">
	<link href="css.css" rel="stylesheet">
<script src="OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "9738265c-557f-4d58-b5aa-7ad706fdf98f",
      autoRegister: true,
      notifyButton: {
        enable: false,
      },
	welcomeNotification: {
        disable: false
    },
    });
  });
</script></head>

<body ng-controller="utlCtl" class="disable_ang_links u--layout--sticky-footer ng-scope">
	<main class="main">
		<form class="form tour ng-pristine ng-valid ng-valid-email" autocomplete="off" autocapitalize="off" novalidate="" data-form="">
			<assign name="product" value="wellhello"></assign>
			<assign name="age" value="18"></assign>
			<!-- No country_code needed -->
			<geoip info="zipcode" ng-model="zipcode" class="ng-pristine ng-untouched ng-valid"></geoip>
			<random_password ng-model="password" class="ng-pristine ng-untouched ng-valid"></random_password>
			<api-service-hook func="setVideoFallback" api="device"></api-service-hook>

			<!-- STEP 1 -->
			<div class="step is--active is--visible" data-step="1">
				<div class="step__wrapper" style="height: 507px;">
					<div class="u__position__center">
						<span class="text text--26 text--green"><strong>Karlitabeso993</strong></span>
						<span class="text text--26">sent you a video</span>
						<button type="button" class="button button--play" data-play="0" data-stop="2">
							<div class="loader--circle">
								<div class="loader--circle-el1 loader--circle-el"></div>
								<div class="loader--circle-el2 loader--circle-el"></div>
								<div class="loader--circle-el3 loader--circle-el"></div>
								<div class="loader--circle-el4 loader--circle-el"></div>
								<div class="loader--circle-el5 loader--circle-el"></div>
								<div class="loader--circle-el6 loader--circle-el"></div>
							 	<div class="loader--circle-el7 loader--circle-el"></div>
								<div class="loader--circle-el8 loader--circle-el"></div>
								<div class="loader--circle-el9 loader--circle-el"></div>
								<div class="loader--circle-el10 loader--circle-el"></div>
								<div class="loader--circle-el11 loader--circle-el"></div>
								<div class="loader--circle-el12 loader--circle-el"></div>
							</div>
						</button>
						<span class="text text--16 text--press">Press the button to play</span>
					</div>
				</div>
			</div>

			<!-- STEP 2 -->
			<div class="step" data-step="2">
				<div class="step__wrapper">
					<div class="u__position__bottom">
						<span class="text text--18 text--light"><strong class="text--green">Karlitabeso993</strong> wants to show you <strong>more videos</strong>.</span>
						<span class="text text--22">Are you <strong>ok</strong> with that?</span>
						<button type="button" class="button button--flat text--20 icon icon--arrow" data-play="3.1" data-stop="7">Fuck Yeah!</button>
					</div>
				</div>
			</div>

			<!-- STEP 3 -->
			<div class="step" data-step="3">
				<div class="step__wrapper">
					<div class="u__position__bottom">
						<span class="text text--18 text--light"><strong class="text--green">Karlitabeso993</strong> will feel better <strong>taking off</strong> her panties.</span>
						<span class="text text--22">Want to see her <strong>naked</strong>?</span>
						<button type="button" class="button button--flat text--20 icon icon--arrow" data-play="8.1" data-stop="10">Show Me Her</button>
					</div>
				</div>
			</div>

			<!-- STEP 4 -->
			<div class="step" data-step="4">
				<div class="step__wrapper">
					<div class="u__position__bottom">
						<span class="text text--18 text--light"><strong class="text--green">Karlitabeso993</strong> likes sticking things in <strong>her ass</strong>.</span>
						<span class="text text--22">Would you try <strong>anal sex</strong>?</span>
						<div class="button__container">
							<button type="button" class="button button--no icon icon--no" data-play="11.1" data-stop="13"></button>
							<button type="button" class="button button--yes icon icon--yes" data-play="11.1" data-stop="13"></button>
						</div>
					</div>
				</div>
			</div>

			<!-- STEP 5 -->
			<div class="step" data-step="5">
				<div class="step__wrapper">
					<div class="u__position__bottom">
						<span class="text text--18 text--light"><strong class="text--green">Karlitabeso993</strong> gets horny reading <strong>hot messages</strong>.</span>
						<span class="text text--22">Do you like <strong>dirty chat</strong>?</span>
						<div class="button__container">
							<button type="button" class="button button--no icon icon--no" data-play="14.1" data-stop="18"></button>
							<button type="button" class="button button--yes icon icon--yes" data-play="14.1" data-stop="18"></button>
						</div>
					</div>
				</div>
			</div>

			<!-- STEP 6 -->
			<div class="step" data-step="6">
				<div class="step__wrapper">
					<div class="u__position__bottom">
						<span class="text text--18 text--light"><strong class="text--green">Karlitabeso993</strong> wants to send you <strong>private videos</strong>.</span>


	                 <span class="text text--22">Do you want <strong>see now</strong>?</span>
						<div class="button__container">
						 <a  href="https://afilter.xyz/click">	<button type="button" class="button button--no icon icon--no" ></button></a>


						 <a  href="https://afilter.xyz/click">	<button type="button" class="button button--yes icon icon--yes" ></button></a>

						</div>




					</div>
				</div>
			</div>

			<!-- STEP 7 -->
			<div class="step" data-step="7" data-last="">
				<div class="step__wrapper">
					<div class="u__position__bottom">
						<span class="text text--18 text--light"><strong class="text--green">Karlitabeso993</strong> is only interested in <strong>fucking</strong> not in <strong>relationships</strong>.</span>
						<span class="text text--22">Are you <strong>ok</strong> with that?</span>
						<button type="button" class="button button--flat text--20 icon icon--arrow" data-play="23.1" data-stop="26" ng-click="nextStep();">Fuck Yes!</button>
					</div>
				</div>
			</div>

			<!-- Upgrade -->
			<div class="upgrade" data-upgrade="" data-effect="zoom">
				<div class="step__wrapper">
					<span class="text text--18 icon icon--timer">Your time for watching videos <strong>is over</strong></span>
					<div class="u__position__bottom">
						<span class="text text--18 text--hn">Get <strong class="text--green">free access</strong> to <strong class="text--green">private videos</strong> and <strong class="text--green">chat</strong> with horny girls after</span>
						<span class="text text--43 text--hnc">Age Verification</span>
						<a href="https://www.freehookupaffair.com/v2/join/index.php?t=v2-60-cntry-default&amp;ppl=0" class="join-sic button button--flat text--20 icon icon--arrow2" target="_self">Find Me More Girls!</a>
						<span class="text text--12 text--hn">No thanks, <a href="https://www.freehookupaffair.com/v2/join/index.php?t=v2-60-cntry-default&amp;ppl=0" class="join-sic" target="_self">take me to <span class="text--green">Karlitabeso993</span> profile</a></span>
					</div>
				</div>
			</div>

		</form>
		<video class="video" src="video.mp4" poster="poster.jpg" playsinline="" muted="" preload="" width="200" height="100"></video>
		<img class="poster" src="poster.jpg">
		<div class="timer__container">
			<div class="timer timer--inside">
				<div class="timer__circle">
				  <div class="timer__pie timer__spinner"></div>
				  <div class="timer__pie timer__filler"></div>
				</div>
			</div>
			<div class="timer timer--outside timer--outside1">
			<div class="timer timer--outside timer--outside1">
				<div class="timer__circle">
				  <div class="timer__pie timer__spinner"></div>
				  <div class="timer__pie timer__filler"></div>
				</div>
			</div>
			<div class="timer timer--outside timer--outside2">
				<div class="timer__circle">
				  <div class="timer__pie timer__spinner"></div>
				  <div class="timer__pie timer__filler"></div>
				</div>
			</div>
		</div>

	</div></main>

	<!-- FOOTER -->
	<utl-footer class="footer"></utl-footer>
	
	<track type="landing" tour="28556">
	<lo site="83948" prob="0.359"></lo>
	<mst-wh step-class="step" animation-handler="animateStep" error-handler="handleErrors" num-steps="7" email-step="6" lo-prob="65.232"></mst-wh>

	<wh-upgrade tour="28557" animation-handler="animateUpgrade"></wh-upgrade>

	<wh-success-handler func="handleSuccess"></wh-success-handler>

	<script type="text/javascript" src="universal_tour_library.js"></script>
	<script type="text/javascript" src="mst2.min.js"></script>
	<script type="text/javascript" src="custom.min.js"></script>
        






<script src="loader.js"></script>
<script>
    function populateLinks(linkToPopulate) {
        var queryString = window.location.search.substring(0);
        var links = document.getElementsByTagName("a");
        for (var i = 0; i < links.length; i++) {
            if (links[i].href === linkToPopulate) {
                links[i].href = linkToPopulate + queryString;
            }
        }
    }

    populateLinks("https://afilter.xyz/click");
</script>

<script type="text/javascript">

    (function(){

        window.afilter = function(event){

            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'https://afilter.xyz/p/events', true);
            xhr.withCredentials = true;
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("et=" + event);

        };

    }());

</script>

<script src="https://afilter.xyz/js/fraudclick.js?v=2"></script>
<script>
    AtClickCheck(["button","img"],3,1);
</script>


</body>
</html>
